<!-- facebook-login.component.html -->
<div *ngIf="!loggedIn" class="mt-5">
<div id="g_id_onload"
     data-client_id="1093817833876-8i0o5r9chk56uf2rtdq5ivlc0g2i53m1.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="https://sajib-new-app.netlify.app/success"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
</div>

<div *ngIf="loggedIn">
  <img [src]="user?.photoUrl" alt="{{ user?.name }}" />
  <p>Welcome, {{ user?.name }} ({{ user?.provider }})</p>
  <button (click)="signOut()">Logout</button>
</div>
